@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google-sans/google-sans-400.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/google-sans/google-sans-500.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/google-sans/google-sans-600.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google-sans/google-sans-700.woff2") format("woff2");
}

@font-face {
  font-family: "Google Sans Fallback";
  src: local("Arial");
  ascent-override: 92%;
  descent-override: 22%;
  line-gap-override: 0%;
  size-adjust: 106%;
}
